@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body {
  font-family: "Droid Arabic Kufi", serif;
}
.App-header {
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
}
.left-side {
  flex: 1 1;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 0 10vw;
}
.selector {
  border: none !important;
  flex: 1;
  padding: 0 1rem;
}
.multi {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.button-p-box {
  width: 100%;
  display: flex;
}
.button-p {
  flex: 1;
  padding: 1.2rem 1.5rem;
  border: 0 solid;
  outline: none;
  cursor: pointer;
  margin: 0 0.2rem;
  color: #fff;
  border-radius: 5px;
  font-family: "Droid Arabic Kufi", serif;
}
.b-disabled {
  background-color: #ceab4b;
  opacity: 0.5;
}
.b-normal {
  background-color: #ceab4b;
}
.b-normal:hover {
  background-color: #c5a13c;
}
.padding-v-1 {
  padding: 1rem 0;
}
.title {
  color: #434a54;
  font-size: 20px;
  text-transform: capitalize;
}
.text {
  font-size: 24px;
}
@media only screen and (max-width: 700px) {
  .App-header {
    flex-direction: column;
  }
  .multi {
    flex-direction: column;
  }
  .multi .select {
    margin: 0.5rem 0;
  }
}
